Repository mamtaharris/shopping-portal, changes with the labels that .github/labeler.yml gives for each.
All labels: cart, item

Update auto_request_review.yml
  .github/workflows/auto_request_review.yml
Labels: none

Update cart_impl.go
  services/cart/cart_impl.go
Labels: cart

Update item_impl.go
  services/item/item_impl.go
Labels: item

Create auto-author-assign.yml
  .github/workflows/auto-author-assign.yml
Labels: none

Update auto-author-assign.yml
  .github/workflows/auto-author-assign.yml
Labels: none

Update cart_impl.go
  services/cart/cart_impl.go
Labels: cart

.github/labeler.yml:

cart:
- services/cart/**/*

item: 
- services/item/**/*
